:root{
    --cor-fundo:#97DDE9;
    --cor-principal:#B2D959;
    --cor-secundaria:#827148;
    --cor-destaque:#99C2FF;
    --cor-texto:black;
}
body{
    background-color: var(--cor-fundo);
    color:var(--cor-texto);
    align-items: center;
    justify-self: center;
    min-height: 10vh;
}